@font-face {
    font-family: 'HGGGothicssi_60';
    src: url('../font/HGGGothicssi_60g.woff');
}

@font-face{
    font-family: 'HGGGothicssi_40';
    src: url('../font/HGGGothicssi_40g.woff');
}

@font-face {
    font-family: 'HGGGothicssi_20';
    src: url('../font/HGGGothicssi_20g.woff');
}